.87_487 { 
	overflow:hidden;
}.e87_487 { 
	background-color:rgba(255, 255, 255, 1);
	width:1440px;
	height:2077px;
	position:absolute;
}.e87_596 { 
	color:rgba(0, 0, 0, 1);
	width:74px;
	height:24px;
	position:absolute;
	left:223px;
	top:1004px;
	font-family:Inter;
	text-align:center;
	font-size:15px;
	letter-spacing:-2;
}.e87_584 { 
	width:125px;
	height:125px;
	position:absolute;
	left:198px;
	top:873px;
	background-image:url(images/han_da_young.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e87_610 { 
	width:120.19881439208984px;
	height:42.038482666015625px;
	position:absolute;
	left:200px;
	top:852px;
}.e87_598 { 
	transform: rotate(44.47231694509574deg);
	color:rgba(0, 0, 0, 1);
	width:10px;
	height:18px;
	position:absolute;
	left:113.06292724609375px;
	top:19.290170669555664px;
	font-family:Inter;
	text-align:left;
	font-size:15px;
	letter-spacing:0;
}.e87_599 { 
	transform: rotate(35.50481599300066deg);
	color:rgba(0, 0, 0, 1);
	width:9px;
	height:18px;
	position:absolute;
	left:103.39635467529297px;
	top:12.085553169250488px;
	font-family:Inter;
	text-align:left;
	font-size:15px;
	letter-spacing:0;
}.e87_600 { 
	transform: rotate(26.702429850834125deg);
	color:rgba(0, 0, 0, 1);
	width:9px;
	height:18px;
	position:absolute;
	left:92.82044219970703px;
	top:6.482052803039551px;
	font-family:Inter;
	text-align:left;
	font-size:15px;
	letter-spacing:0;
}.e87_601 { 
	transform: rotate(17.822345476229824deg);
	color:rgba(0, 0, 0, 1);
	width:9px;
	height:18px;
	position:absolute;
	left:81.28866577148438px;
	top:2.4939088821411133px;
	font-family:Inter;
	text-align:left;
	font-size:15px;
	letter-spacing:0;
}.e87_602 { 
	transform: rotate(8.456525536447595deg);
	color:rgba(0, 0, 0, 1);
	width:10px;
	height:18px;
	position:absolute;
	left:68.30006408691406px;
	top:0.240758016705513px;
	font-family:Inter;
	text-align:left;
	font-size:15px;
	letter-spacing:0;
}.e87_603 { 
	transform: rotate(1.2058406348894175deg);
	color:rgba(0, 0, 0, 1);
	position:absolute;
	left:61.167152404785156px;
	top:0.08001430332660675px;
	font-family:Inter;
	text-align:left;
	font-size:15px;
	letter-spacing:0;
}.e87_604 { 
	transform: rotate(-5.420732250697992deg);
	color:rgba(0, 0, 0, 1);
	width:9px;
	height:18px;
	position:absolute;
	left:50.11125183105469px;
	top:0.8502169251441956px;
	font-family:Inter;
	text-align:left;
	font-size:15px;
	letter-spacing:0;
}.e87_605 { 
	transform: rotate(-15.027373832191268deg);
	color:rgba(0, 0, 0, 1);
	width:11px;
	height:18px;
	position:absolute;
	left:36.21473693847656px;
	top:4.169491767883301px;
	font-family:Inter;
	text-align:left;
	font-size:15px;
	letter-spacing:0;
}.e87_606 { 
	transform: rotate(-22.75438879871322deg);
	color:rgba(0, 0, 0, 1);
	position:absolute;
	left:29.520431518554688px;
	top:6.993634223937988px;
	font-family:Inter;
	text-align:left;
	font-size:15px;
	letter-spacing:0;
}.e87_607 { 
	transform: rotate(-29.538767502557814deg);
	color:rgba(0, 0, 0, 1);
	width:9px;
	height:18px;
	position:absolute;
	left:19.39801025390625px;
	top:12.388310432434082px;
	font-family:Inter;
	text-align:left;
	font-size:15px;
	letter-spacing:0;
}.e87_608 { 
	transform: rotate(-38.202771496165155deg);
	color:rgba(0, 0, 0, 1);
	width:9px;
	height:18px;
	position:absolute;
	left:10.116153717041016px;
	top:19.393693923950195px;
	font-family:Inter;
	text-align:left;
	font-size:15px;
	letter-spacing:0;
}.e87_609 { 
	transform: rotate(-47.955300153578825deg);
	color:rgba(0, 0, 0, 1);
	width:12px;
	height:18px;
	position:absolute;
	left:0px;
	top:29.98369789123535px;
	font-family:Inter;
	text-align:left;
	font-size:15px;
	letter-spacing:0;
}.e87_715 { 
	color:rgba(0, 0, 0, 1);
	width:74px;
	height:24px;
	position:absolute;
	left:225px;
	top:1191px;
	font-family:Inter;
	text-align:center;
	font-size:15px;
	letter-spacing:-2;
}.e87_587 { 
	border-radius:500px;
	width:125px;
	height:125px;
	position:absolute;
	left:198px;
	top:1060px;
	background-image:url(images/jang_si_young.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e87_661 { 
	width:114.40886688232422px;
	height:47.48650360107422px;
	position:absolute;
	left:203px;
	top:1037px;
}.e87_648 { 
	transform: rotate(64.51951295726066deg);
	color:rgba(0, 0, 0, 1);
	width:10px;
	height:18px;
	position:absolute;
	left:110.10682678222656px;
	top:30.715518951416016px;
	font-family:Inter;
	text-align:left;
	font-size:15px;
	letter-spacing:0;
}.e87_649 { 
	transform: rotate(52.229933834788085deg);
	color:rgba(0, 0, 0, 1);
	width:9px;
	height:18px;
	position:absolute;
	left:102.53556823730469px;
	top:20.227989196777344px;
	font-family:Inter;
	text-align:left;
	font-size:15px;
	letter-spacing:0;
}.e87_650 { 
	transform: rotate(40.16697863770682deg);
	color:rgba(0, 0, 0, 1);
	width:9px;
	height:18px;
	position:absolute;
	left:93.01966857910156px;
	top:11.621880531311035px;
	font-family:Inter;
	text-align:left;
	font-size:15px;
	letter-spacing:0;
}.e87_651 { 
	transform: rotate(27.99738275558709deg);
	color:rgba(0, 0, 0, 1);
	width:9px;
	height:18px;
	position:absolute;
	left:81.70099639892578px;
	top:5.084458351135254px;
	font-family:Inter;
	text-align:left;
	font-size:15px;
	letter-spacing:0;
}.e87_652 { 
	transform: rotate(15.16097868853731deg);
	color:rgba(0, 0, 0, 1);
	width:10px;
	height:18px;
	position:absolute;
	left:68.24342346191406px;
	top:0.8786095976829529px;
	font-family:Inter;
	text-align:left;
	font-size:15px;
	letter-spacing:0;
}.e87_653 { 
	transform: rotate(5.2249699729245735deg);
	color:rgba(0, 0, 0, 1);
	position:absolute;
	left:60.43330001831055px;
	top:0.08737653493881226px;
	font-family:Inter;
	text-align:left;
	font-size:15px;
	letter-spacing:0;
}.e87_654 { 
	transform: rotate(-0.8156195347958097deg);
	color:rgba(0, 0, 0, 1);
	width:4px;
	height:18px;
	position:absolute;
	left:54.37153625488281px;
	top:0.05693906173110008px;
	font-family:Inter;
	text-align:left;
	font-size:15px;
	letter-spacing:0;
}.e87_655 { 
	transform: rotate(-10.116666699728315deg);
	color:rgba(0, 0, 0, 1);
	width:10px;
	height:18px;
	position:absolute;
	left:41.61792755126953px;
	top:1.8034104108810425px;
	font-family:Inter;
	text-align:left;
	font-size:15px;
	letter-spacing:0;
}.e87_656 { 
	transform: rotate(-19.87923707478778deg);
	color:rgba(0, 0, 0, 1);
	position:absolute;
	left:34.25279998779297px;
	top:4.378174781799316px;
	font-family:Inter;
	text-align:left;
	font-size:15px;
	letter-spacing:0;
}.e87_657 { 
	transform: rotate(-29.37506550030809deg);
	color:rgba(0, 0, 0, 1);
	width:10px;
	height:18px;
	position:absolute;
	left:23.129859924316406px;
	top:10.079426765441895px;
	font-family:Inter;
	text-align:left;
	font-size:15px;
	letter-spacing:0;
}.e87_658 { 
	transform: rotate(-41.66464718389925deg);
	color:rgba(0, 0, 0, 1);
	width:9px;
	height:18px;
	position:absolute;
	left:13.180793762207031px;
	top:18.34552001953125px;
	font-family:Inter;
	text-align:left;
	font-size:15px;
	letter-spacing:0;
}.e87_659 { 
	transform: rotate(-53.53770142578175deg);
	color:rgba(0, 0, 0, 1);
	width:9px;
	height:18px;
	position:absolute;
	left:5.439449310302734px;
	top:28.13058853149414px;
	font-family:Inter;
	text-align:left;
	font-size:15px;
	letter-spacing:0;
}.e87_660 { 
	transform: rotate(-64.99436411628238deg);
	color:rgba(0, 0, 0, 1);
	width:9px;
	height:18px;
	position:absolute;
	left:0px;
	top:38.87830352783203px;
	font-family:Inter;
	text-align:left;
	font-size:15px;
	letter-spacing:0;
}.e87_716 { 
	color:rgba(0, 0, 0, 1);
	width:74px;
	height:24px;
	position:absolute;
	left:375px;
	top:1191px;
	font-family:Inter;
	text-align:center;
	font-size:15px;
	letter-spacing:-2;
}.e87_588 { 
	border-radius:500px;
	width:125px;
	height:125px;
	position:absolute;
	left:353px;
	top:1060px;
	background-image:url(images/choi_myung_geun.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e87_698 { 
	width:125.96245574951172px;
	height:49.63206481933594px;
	position:absolute;
	left:353px;
	top:1033px;
}.e87_683 { 
	transform: rotate(62.544408292911825deg);
	color:rgba(0, 0, 0, 1);
	width:9px;
	height:18px;
	position:absolute;
	left:121.81290435791016px;
	top:33.346649169921875px;
	font-family:Inter;
	text-align:left;
	font-size:15px;
	letter-spacing:0;
}.e87_684 { 
	transform: rotate(53.33335691865645deg);
	color:rgba(0, 0, 0, 1);
	width:9px;
	height:18px;
	position:absolute;
	left:115.35216522216797px;
	top:24.34355354309082px;
	font-family:Inter;
	text-align:left;
	font-size:15px;
	letter-spacing:0;
}.e87_685 { 
	transform: rotate(44.113799368336174deg);
	color:rgba(0, 0, 0, 1);
	width:9px;
	height:18px;
	position:absolute;
	left:107.49203491210938px;
	top:16.446577072143555px;
	font-family:Inter;
	text-align:left;
	font-size:15px;
	letter-spacing:0;
}.e87_686 { 
	transform: rotate(33.577466126671204deg);
	color:rgba(0, 0, 0, 1);
	width:12px;
	height:18px;
	position:absolute;
	left:96.11679077148438px;
	top:8.45467472076416px;
	font-family:Inter;
	text-align:left;
	font-size:15px;
	letter-spacing:0;
}.e87_687 { 
	transform: rotate(25.427819756648994deg);
	color:rgba(0, 0, 0, 1);
	position:absolute;
	left:90.31027221679688px;
	top:5.79541540145874px;
	font-family:Inter;
	text-align:left;
	font-size:15px;
	letter-spacing:0;
}.e87_688 { 
	transform: rotate(18.402141089209273deg);
	color:rgba(0, 0, 0, 1);
	width:10px;
	height:18px;
	position:absolute;
	left:80.09480285644531px;
	top:2.122655153274536px;
	font-family:Inter;
	text-align:left;
	font-size:15px;
	letter-spacing:0;
}.e87_689 { 
	transform: rotate(8.99828352061189deg);
	color:rgba(0, 0, 0, 1);
	width:9px;
	height:18px;
	position:absolute;
	left:69.08736419677734px;
	top:0.18623855710029602px;
	font-family:Inter;
	text-align:left;
	font-size:15px;
	letter-spacing:0;
}.e87_690 { 
	transform: rotate(-0.212770184495871deg);
	color:rgba(0, 0, 0, 1);
	width:9px;
	height:18px;
	position:absolute;
	left:58.007041931152344px;
	top:0.03342178836464882px;
	font-family:Inter;
	text-align:left;
	font-size:15px;
	letter-spacing:0;
}.e87_691 { 
	transform: rotate(-9.151701982435226deg);
	color:rgba(0, 0, 0, 1);
	width:9px;
	height:18px;
	position:absolute;
	left:47.57530975341797px;
	top:1.5458576679229736px;
	font-family:Inter;
	text-align:left;
	font-size:15px;
	letter-spacing:0;
}.e87_692 { 
	transform: rotate(-20.5222836023906deg);
	color:rgba(0, 0, 0, 1);
	width:14px;
	height:18px;
	position:absolute;
	left:32.213157653808594px;
	top:6.7114691734313965px;
	font-family:Inter;
	text-align:left;
	font-size:15px;
	letter-spacing:0;
}.e87_693 { 
	transform: rotate(-29.786802342215903deg);
	color:rgba(0, 0, 0, 1);
	position:absolute;
	left:26.480430603027344px;
	top:10.181050300598145px;
	font-family:Inter;
	text-align:left;
	font-size:15px;
	letter-spacing:0;
}.e87_694 { 
	transform: rotate(-33.87112067769191deg);
	color:rgba(0, 0, 0, 1);
	width:4px;
	height:18px;
	position:absolute;
	left:22.68896484375px;
	top:12.695927619934082px;
	font-family:Inter;
	text-align:left;
	font-size:15px;
	letter-spacing:0;
}.e87_695 { 
	transform: rotate(-40.42435002424542deg);
	color:rgba(0, 0, 0, 1);
	width:9px;
	height:18px;
	position:absolute;
	left:14.472145080566406px;
	top:19.3635311126709px;
	font-family:Inter;
	text-align:left;
	font-size:15px;
	letter-spacing:0;
}.e87_696 { 
	transform: rotate(-49.78000304976322deg);
	color:rgba(0, 0, 0, 1);
	width:9px;
	height:18px;
	position:absolute;
	left:7.076530456542969px;
	top:27.80320930480957px;
	font-family:Inter;
	text-align:left;
	font-size:15px;
	letter-spacing:0;
}.e87_697 { 
	transform: rotate(-60.214029801095755deg);
	color:rgba(0, 0, 0, 1);
	width:11px;
	height:18px;
	position:absolute;
	left:0px;
	top:39.46501922607422px;
	font-family:Inter;
	text-align:left;
	font-size:15px;
	letter-spacing:0;
}.e87_717 { 
	color:rgba(0, 0, 0, 1);
	width:74px;
	height:24px;
	position:absolute;
	left:533px;
	top:1191px;
	font-family:Inter;
	text-align:center;
	font-size:15px;
	letter-spacing:-2;
}.e87_589 { 
	border-radius:500px;
	width:125px;
	height:125px;
	position:absolute;
	left:508px;
	top:1060px;
	background-image:url(images/baek_jae_hyun.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e87_712 { 
	width:108.1854019165039px;
	height:46.016265869140625px;
	position:absolute;
	left:517px;
	top:1032px;
}.e87_699 { 
	transform: rotate(66.03586257443853deg);
	color:rgba(0, 0, 0, 1);
	width:9px;
	height:18px;
	position:absolute;
	left:104.52992248535156px;
	top:30.481101989746094px;
	font-family:Inter;
	text-align:left;
	font-size:15px;
	letter-spacing:0;
}.e87_700 { 
	transform: rotate(54.461275724765024deg);
	color:rgba(0, 0, 0, 1);
	width:9px;
	height:18px;
	position:absolute;
	left:97.97679901123047px;
	top:20.77831268310547px;
	font-family:Inter;
	text-align:left;
	font-size:15px;
	letter-spacing:0;
}.e87_701 { 
	transform: rotate(43.229027030653874deg);
	color:rgba(0, 0, 0, 1);
	width:9px;
	height:18px;
	position:absolute;
	left:90.03938293457031px;
	top:12.94858169555664px;
	font-family:Inter;
	text-align:left;
	font-size:15px;
	letter-spacing:0;
}.e87_702 { 
	transform: rotate(30.367705238018843deg);
	color:rgba(0, 0, 0, 1);
	width:12px;
	height:18px;
	position:absolute;
	left:77.83700561523438px;
	top:5.167625427246094px;
	font-family:Inter;
	text-align:left;
	font-size:15px;
	letter-spacing:0;
}.e87_703 { 
	transform: rotate(20.15382197087237deg);
	color:rgba(0, 0, 0, 1);
	position:absolute;
	left:71.29815673828125px;
	top:2.8350830078125px;
	font-family:Inter;
	text-align:left;
	font-size:15px;
	letter-spacing:0;
}.e87_704 { 
	transform: rotate(11.529773110784292deg);
	color:rgba(0, 0, 0, 1);
	width:9px;
	height:18px;
	position:absolute;
	left:60.621124267578125px;
	top:0.3105735778808594px;
	font-family:Inter;
	text-align:left;
	font-size:15px;
	letter-spacing:0;
}.e87_705 { 
	transform: rotate(0.14776206355105218deg);
	color:rgba(0, 0, 0, 1);
	width:9px;
	height:18px;
	position:absolute;
	left:49.271080017089844px;
	top:0px;
	font-family:Inter;
	text-align:left;
	font-size:15px;
	letter-spacing:0;
}.e87_706 { 
	transform: rotate(-10.777841195768556deg);
	color:rgba(0, 0, 0, 1);
	width:9px;
	height:18px;
	position:absolute;
	left:38.506004333496094px;
	top:1.7842750549316406px;
	font-family:Inter;
	text-align:left;
	font-size:15px;
	letter-spacing:0;
}.e87_707 { 
	transform: rotate(-18.945480877216987deg);
	color:rgba(0, 0, 0, 1);
	position:absolute;
	left:32.469085693359375px;
	top:3.8373985290527344px;
	font-family:Inter;
	text-align:left;
	font-size:15px;
	letter-spacing:0;
}.e87_708 { 
	transform: rotate(-27.01332062510007deg);
	color:rgba(0, 0, 0, 1);
	width:8px;
	height:18px;
	position:absolute;
	left:23.442148208618164px;
	top:8.127445220947266px;
	font-family:Inter;
	text-align:left;
	font-size:15px;
	letter-spacing:0;
}.e87_709 { 
	transform: rotate(-38.081638909907255deg);
	color:rgba(0, 0, 0, 1);
	width:9px;
	height:18px;
	position:absolute;
	left:14.093875885009766px;
	top:15.042705535888672px;
	font-family:Inter;
	text-align:left;
	font-size:15px;
	letter-spacing:0;
}.e87_710 { 
	transform: rotate(-49.46364945220089deg);
	color:rgba(0, 0, 0, 1);
	width:9px;
	height:18px;
	position:absolute;
	left:6.5028533935546875px;
	top:23.48642349243164px;
	font-family:Inter;
	text-align:left;
	font-size:15px;
	letter-spacing:0;
}.e87_711 { 
	transform: rotate(-61.516698975067676deg);
	color:rgba(0, 0, 0, 1);
	width:10px;
	height:18px;
	position:absolute;
	left:0px;
	top:34.61780548095703px;
	font-family:Inter;
	text-align:left;
	font-size:15px;
	letter-spacing:0;
}.e87_713 { 
	color:rgba(0, 0, 0, 1);
	width:74px;
	height:24px;
	position:absolute;
	left:377px;
	top:1004px;
	font-family:Inter;
	text-align:center;
	font-size:15px;
	letter-spacing:-2;
}.e87_585 { 
	border-radius:500px;
	width:125px;
	height:125px;
	position:absolute;
	left:353px;
	top:873px;
	background-image:url(images/joo_dong_woo.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e87_623 { 
	width:119.0060806274414px;
	height:44.77390670776367px;
	position:absolute;
	left:355px;
	top:849px;
}.e87_611 { 
	transform: rotate(56.81207805737502deg);
	color:rgba(0, 0, 0, 1);
	width:9px;
	height:18px;
	position:absolute;
	left:114.07959747314453px;
	top:27.201152801513672px;
	font-family:Inter;
	text-align:left;
	font-size:15px;
	letter-spacing:0;
}.e87_612 { 
	transform: rotate(46.13777190663796deg);
	color:rgba(0, 0, 0, 1);
	width:9px;
	height:18px;
	position:absolute;
	left:105.5553207397461px;
	top:17.81796646118164px;
	font-family:Inter;
	text-align:left;
	font-size:15px;
	letter-spacing:0;
}.e87_613 { 
	transform: rotate(32.697465600352224deg);
	color:rgba(0, 0, 0, 1);
	width:14px;
	height:18px;
	position:absolute;
	left:90.46153259277344px;
	top:7.1399078369140625px;
	font-family:Inter;
	text-align:left;
	font-size:15px;
	letter-spacing:0;
}.e87_614 { 
	transform: rotate(21.772841524008054deg);
	color:rgba(0, 0, 0, 1);
	position:absolute;
	left:82.86187744140625px;
	top:4.200931549072266px;
	font-family:Inter;
	text-align:left;
	font-size:15px;
	letter-spacing:0;
}.e87_615 { 
	transform: rotate(13.533313253179962deg);
	color:rgba(0, 0, 0, 1);
	width:10px;
	height:18px;
	position:absolute;
	left:71.12915802001953px;
	top:0.9658966064453125px;
	font-family:Inter;
	text-align:left;
	font-size:15px;
	letter-spacing:0;
}.e87_616 { 
	transform: rotate(2.8705594633067455deg);
	color:rgba(0, 0, 0, 1);
	width:9px;
	height:18px;
	position:absolute;
	left:58.661983489990234px;
	top:0px;
	font-family:Inter;
	text-align:left;
	font-size:15px;
	letter-spacing:0;
}.e87_617 { 
	transform: rotate(-7.711292562096574deg);
	color:rgba(0, 0, 0, 1);
	width:9px;
	height:18px;
	position:absolute;
	left:46.08161544799805px;
	top:1.3419647216796875px;
	font-family:Inter;
	text-align:left;
	font-size:15px;
	letter-spacing:0;
}.e87_618 { 
	transform: rotate(-19.415031348871484deg);
	color:rgba(0, 0, 0, 1);
	width:11px;
	height:18px;
	position:absolute;
	left:31.919872283935547px;
	top:5.7874908447265625px;
	font-family:Inter;
	text-align:left;
	font-size:15px;
	letter-spacing:0;
}.e87_619 { 
	transform: rotate(-28.60309416056293deg);
	color:rgba(0, 0, 0, 1);
	position:absolute;
	left:25.191482543945312px;
	top:9.441108703613281px;
	font-family:Inter;
	text-align:left;
	font-size:15px;
	letter-spacing:0;
}.e87_620 { 
	transform: rotate(-36.76172036572407deg);
	color:rgba(0, 0, 0, 1);
	width:9px;
	height:18px;
	position:absolute;
	left:15.35000991821289px;
	top:16.30780792236328px;
	font-family:Inter;
	text-align:left;
	font-size:15px;
	letter-spacing:0;
}.e87_621 { 
	transform: rotate(-47.43602644963536deg);
	color:rgba(0, 0, 0, 1);
	width:9px;
	height:18px;
	position:absolute;
	left:6.516422271728516px;
	top:25.400402069091797px;
	font-family:Inter;
	text-align:left;
	font-size:15px;
	letter-spacing:0;
}.e87_622 { 
	transform: rotate(-57.656851027033014deg);
	color:rgba(0, 0, 0, 1);
	width:9px;
	height:18px;
	position:absolute;
	left:0px;
	top:35.144107818603516px;
	font-family:Inter;
	text-align:left;
	font-size:15px;
	letter-spacing:0;
}.e87_714 { 
	color:rgba(0, 0, 0, 1);
	width:74px;
	height:24px;
	position:absolute;
	left:531px;
	top:1004px;
	font-family:Inter;
	text-align:center;
	font-size:15px;
	letter-spacing:-2;
}.e87_586 { 
	border-radius:500px;
	width:125px;
	height:125px;
	position:absolute;
	left:508px;
	top:873px;
	background-image:url(images/cho_hyun_hee.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e87_647 { 
	width:106.78044891357422px;
	height:44.703575134277344px;
	position:absolute;
	left:517px;
	top:849px;
}.e87_635 { 
	transform: rotate(60.419551198167895deg);
	color:rgba(0, 0, 0, 1);
	width:9px;
	height:18px;
	position:absolute;
	left:102.337646484375px;
	top:25.775850296020508px;
	font-family:Inter;
	text-align:left;
	font-size:15px;
	letter-spacing:0;
}.e87_636 { 
	transform: rotate(48.795028634694deg);
	color:rgba(0, 0, 0, 1);
	width:9px;
	height:18px;
	position:absolute;
	left:94.81492614746094px;
	top:16.710309982299805px;
	font-family:Inter;
	text-align:left;
	font-size:15px;
	letter-spacing:0;
}.e87_637 { 
	transform: rotate(35.58066856501406deg);
	color:rgba(0, 0, 0, 1);
	width:12px;
	height:18px;
	position:absolute;
	left:83.28851318359375px;
	top:7.799741268157959px;
	font-family:Inter;
	text-align:left;
	font-size:15px;
	letter-spacing:0;
}.e87_638 { 
	transform: rotate(25.366783177534614deg);
	color:rgba(0, 0, 0, 1);
	position:absolute;
	left:76.98863983154297px;
	top:4.882741451263428px;
	font-family:Inter;
	text-align:left;
	font-size:15px;
	letter-spacing:0;
}.e87_639 { 
	transform: rotate(16.75343405147771deg);
	color:rgba(0, 0, 0, 1);
	width:9px;
	height:18px;
	position:absolute;
	left:66.60340118408203px;
	top:1.403226375579834px;
	font-family:Inter;
	text-align:left;
	font-size:15px;
	letter-spacing:0;
}.e87_640 { 
	transform: rotate(5.178846405288333deg);
	color:rgba(0, 0, 0, 1);
	width:9px;
	height:18px;
	position:absolute;
	left:54.97452163696289px;
	top:0.04063171148300171px;
	font-family:Inter;
	text-align:left;
	font-size:15px;
	letter-spacing:0;
}.e87_641 { 
	transform: rotate(-6.053401181132689deg);
	color:rgba(0, 0, 0, 1);
	width:9px;
	height:18px;
	position:absolute;
	left:43.862274169921875px;
	top:0.9490980505943298px;
	font-family:Inter;
	text-align:left;
	font-size:15px;
	letter-spacing:0;
}.e87_642 { 
	transform: rotate(-18.914720658999585deg);
	color:rgba(0, 0, 0, 1);
	width:12px;
	height:18px;
	position:absolute;
	left:30.00483512878418px;
	top:5.121938228607178px;
	font-family:Inter;
	text-align:left;
	font-size:15px;
	letter-spacing:0;
}.e87_643 { 
	transform: rotate(-29.128606463029335deg);
	color:rgba(0, 0, 0, 1);
	position:absolute;
	left:23.97142791748047px;
	top:8.556366920471191px;
	font-family:Inter;
	text-align:left;
	font-size:15px;
	letter-spacing:0;
}.e87_644 { 
	transform: rotate(-37.856116359434665deg);
	color:rgba(0, 0, 0, 1);
	width:9px;
	height:18px;
	position:absolute;
	left:14.954143524169922px;
	top:15.119851112365723px;
	font-family:Inter;
	text-align:left;
	font-size:15px;
	letter-spacing:0;
}.e87_645 { 
	transform: rotate(-49.612638761177536deg);
	color:rgba(0, 0, 0, 1);
	width:9px;
	height:18px;
	position:absolute;
	left:7.033901214599609px;
	top:23.946104049682617px;
	font-family:Inter;
	text-align:left;
	font-size:15px;
	letter-spacing:0;
}.e87_646 { 
	transform: rotate(-62.726720341465125deg);
	color:rgba(0, 0, 0, 1);
	width:11px;
	height:18px;
	position:absolute;
	left:0px;
	top:36.455345153808594px;
	font-family:Inter;
	text-align:left;
	font-size:15px;
	letter-spacing:0;
}.e88_719 { 
	color:rgba(0, 0, 0, 1);
	width:74px;
	height:24px;
	position:absolute;
	left:66px;
	top:899px;
	font-family:Inter;
	text-align:center;
	font-size:15px;
	letter-spacing:-2;
}.e87_718 { 
	width:125px;
	height:125px;
	position:absolute;
	left:41px;
	top:770px;
	background-image:url(images/ryu_gi_uk.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e88_729 { 
	width:78.54275512695312px;
	height:36.05633544921875px;
	position:absolute;
	left:65px;
	top:752px;
}.e88_720 { 
	transform: rotate(66.72969976085986deg);
	color:rgba(0, 0, 0, 1);
	width:8px;
	height:18px;
	position:absolute;
	left:75.3822021484375px;
	top:21.466350555419922px;
	font-family:Inter;
	text-align:left;
	font-size:15px;
	letter-spacing:0;
}.e88_721 { 
	transform: rotate(45.61728522431861deg);
	color:rgba(0, 0, 0, 1);
	width:12px;
	height:18px;
	position:absolute;
	left:64.6711654663086px;
	top:8.615852355957031px;
	font-family:Inter;
	text-align:left;
	font-size:15px;
	letter-spacing:0;
}.e88_722 { 
	transform: rotate(28.565437111147354deg);
	color:rgba(0, 0, 0, 1);
	position:absolute;
	left:57.0257568359375px;
	top:4.2650909423828125px;
	font-family:Inter;
	text-align:left;
	font-size:15px;
	letter-spacing:0;
}.e88_723 { 
	transform: rotate(20.076490857302257deg);
	color:rgba(0, 0, 0, 1);
	width:4px;
	height:18px;
	position:absolute;
	left:51.7144775390625px;
	top:2.177196502685547px;
	font-family:Inter;
	text-align:left;
	font-size:15px;
	letter-spacing:0;
}.e88_724 { 
	transform: rotate(3.890790469069564deg);
	color:rgba(0, 0, 0, 1);
	width:12px;
	height:18px;
	position:absolute;
	left:36.507511138916016px;
	top:0px;
	font-family:Inter;
	text-align:left;
	font-size:15px;
	letter-spacing:0;
}.e88_725 { 
	transform: rotate(-13.112983715366424deg);
	color:rgba(0, 0, 0, 1);
	position:absolute;
	left:27.917591094970703px;
	top:1.8304977416992188px;
	font-family:Inter;
	text-align:left;
	font-size:15px;
	letter-spacing:0;
}.e88_726 { 
	transform: rotate(-27.342561177338197deg);
	color:rgba(0, 0, 0, 1);
	width:9px;
	height:18px;
	position:absolute;
	left:16.59998321533203px;
	top:6.850162506103516px;
	font-family:Inter;
	text-align:left;
	font-size:15px;
	letter-spacing:0;
}.e88_727 { 
	transform: rotate(-45.97130585870653deg);
	color:rgba(0, 0, 0, 1);
	width:9px;
	height:18px;
	position:absolute;
	left:6.9517974853515625px;
	top:15.728416442871094px;
	font-family:Inter;
	text-align:left;
	font-size:15px;
	letter-spacing:0;
}.e88_728 { 
	transform: rotate(-65.5119929810164deg);
	color:rgba(0, 0, 0, 1);
	width:10px;
	height:18px;
	position:absolute;
	left:0px;
	top:28.595285415649414px;
	font-family:Inter;
	text-align:left;
	font-size:15px;
	letter-spacing:0;
}.e87_583 { 
	width:1068px;
	height:763px;
	position:absolute;
	left:173px;
	top:462px;
}.e87_568 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:480px;
	height:11px;
	position:absolute;
	left:0px;
	top:0px;
}.e87_572 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:480px;
	height:11px;
	position:absolute;
	left:0px;
	top:376px;
}.e87_574 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:480px;
	height:11px;
	position:absolute;
	left:0px;
	top:752px;
}.e87_575 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:480px;
	height:11px;
	position:absolute;
	left:588px;
	top:752px;
}.e87_573 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:480px;
	height:11px;
	position:absolute;
	left:588px;
	top:376px;
}.e87_571 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:480px;
	height:11px;
	position:absolute;
	left:588px;
	top:0px;
}.e87_490 { 
	color:rgba(0, 0, 0, 1);
	width:837px;
	height:36px;
	position:absolute;
	left:-117px;
	top:164px;
	font-family:Inter;
	text-align:center;
	font-size:30px;
	letter-spacing:-2;
}.e87_520 { 
	background-color:rgba(255, 255, 255, 1);
	width:1440px;
	height:164px;
	position:absolute;
	left:0px;
	top:0px;
}.e87_521 { 
	width:140px;
	height:52px;
	position:absolute;
	left:1220px;
	top:56px;
}.e87_525 { 
	box-shadow:0px 1px 2px rgba(0, 0, 0, 0.05000000074505806);
	background-color:rgba(0, 0, 0, 1);
	width:140px;
	height:52px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:8px;
	border-top-right-radius:8px;
	border-bottom-left-radius:8px;
	border-bottom-right-radius:8px;
}.e87_526 { 
	color:rgba(255, 255, 255, 1);
	width:92px;
	height:24px;
	position:absolute;
	left:24px;
	top:14px;
	font-family:Inter;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}.e87_567 { 
	width:156px;
	height:52px;
	position:absolute;
	left:50px;
	top:45px;
	background-image:url(images/ci_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e87_597 { 
	color:rgba(0, 0, 0, 1);
	width:202px;
	height:62px;
	position:absolute;
	left:48px;
	top:606px;
	font-family:Inter;
	text-align:center;
	font-size:15px;
	letter-spacing:-2;
}
